
<%- include('header') %> 
<div class="wrapper">
    <div class="col-md-4">
<div class="card login-form">
	<div class="card-body">
		<h3 class="card-title text-center">Change password</h3>
		
		<!--Password must contain one lowercase letter, one number, and be at least 7 characters long.-->
		
		<div class="card-text">
			<form action="/users/passwordchange" method="POST">
                <%- include('messages') %>   
				<div class="form-group">
					<label for="exampleInputEmail1">Your new password</label>
					<input type="password" name="password" class="form-control form-control-sm" value="">
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Repeat password</label>
					<input type="password" name="password2" class="form-control form-control-sm" value="">
				</div>
                <button type="submit" class="btn btn-primary btn-block submit-btn">Confirm</button>
                <input type="hidden" class="hide" name="resettoken" id="token" value="<%= resetToken %>"> 
			</form>
		</div>
	</div>
</div>

</div>
</div>
<%- include('footer') %> 